@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
  /* font-family: '游ゴシック体', 'YuGothic', '游ゴシック', 'Yu Gothic', sans-serif; */
  font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3 {
  font-family: '游ゴシック体', 'YuGothic', '游ゴシック', 'Yu Gothic', sans-serif;
}

/* emはフォントサイズで変わるので絶対固定したい大きさはpx それ以外はem,rem */
ul li,
ol li {
  padding: 1em 0;
}
